name: Run Tests

env:
  SDK_BRANCH_NAME: ${{ inputs.sdk_branch  || github.head_ref || github.ref_name || 'main' }}
  TEST_DATA_BRANCH_NAME: ${{ inputs.test_data_branch || 'main' }}

on:
  push:
    branches: [ "main" ]

  pull_request:
    branches: [ "*" ]

  workflow_dispatch:

  workflow_call:
    inputs:
      test_data_branch:
        type: string
        description: The branch in sdk-test-data to target for testcase files
        required: false
        default: main
      sdk_branch:
        type: string
        description: The branch of the SDK to test
        required: false
  
jobs:
  build-and-run-tests:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: ['7.0.x', '8.0.x', '10.0.x']

    steps:
    - uses: actions/checkout@v3
      with:
        repository: Eppo-exp/dot-net-server-sdk
        ref: ${{ env.SDK_BRANCH_NAME }}
    
    - name: Setup .NET 10 (for building)
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 10.0.x

    - name: Setup .NET ${{ matrix.dotnet-version }} (for testing)
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ matrix.dotnet-version }}

    - name: Lint and format check (only on .NET 10)
      if: matrix.dotnet-version == '10.0.x'
      run: |
        dotnet tool install -g csharpier
        ~/.dotnet/tools/csharpier check .

    - name: Restore dependencies
      run: dotnet restore

    - name: Build (with .NET 10)
      run: |
        echo '{"sdk":{"version":"10.0.x"}}' > global.json
        make build
        rm global.json

    - name: Pull test data
      run: make test-data

    - name: Test (on .NET ${{ matrix.dotnet-version }})
      run: make test branchName=${{ env.TEST_DATA_BRANCH_NAME }}
